### Ссылка на коллекцию Postman

[Полная документация и коллекция тестов в Postman](https://www.postman.com/foxymr78-2788678/workspace/my-llm-service/collection/55141335-6eaa59df-966b-4704-9b8b-d1aa377c909a?action=share&creator=55141335)